:root {
    --text-colour: rgb(255, 255, 255);
    --background-color: rgb(88, 61, 107);

}


.header {
    color: var(--text-colour);
    background-color: var(--background-color);
    display: flex
}