

.title {
    
    margin-bottom: 0;
    transform: translate(0px, -15px);
    font-family: "JetBrains Mono", monospace;
    font-size: 3vw
    

}

.subTitle {
    margin-bottom: 0;
    transform: translate(-115px, 5px);
    font-family: "JetBrains Mono", monospace;
    font-size: 5vw
}